/* stylelint-disable selector-max-id, max-nesting-depth, selector-max-compound-selectors */
/* TODO: BEM対応 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  width: 600px;
}

#about {
  border-bottom: 1px solid #ccc;
  flex: 1;
  padding: 20px 10px 20px 20px;

  #about-title {
    margin-bottom: 10px;
  }

  #about-container {
    padding-left: 10px;
  }
}

#setting {
  flex: 2;
  padding: 20px 10px 20px 20px;

  #setting-title {
    margin-bottom: 10px;
  }

  #setting-container {
    padding-left: 10px;

    #setting-description {
      margin-bottom: 10px;
    }

    #setting-list {
      padding-left: 5px;

      li {
        margin-bottom: 0.3em;
      }
    }
  }
}

ul {
  list-style-type: none;
}
